# Python
__pycache__/
*.py[cod]
*.egg
*.egg-info/
dist/
build/

# Virtual environments
.venv/
env/
venv/
ocr
.env 

# VS Code
.vscode/

# Mac / Linux / Windows system files
.DS_Store
Thumbs.db

# UV lock file
uv.lock
