fastapi==0.104.1
uvicorn==0.24.0
python-multipart==0.0.6
easyocr==1.7.0
pdfplumber==0.10.3
pytesseract==0.3.10
Pillow==10.3.0
opencv-python==4.9.0.80
clean-text==0.6.0
typer<0.10.0
python-dotenv==1.0.1
spacy==3.7.2
requests==2.31.0
streamlit==1.34.0
multiprocess==0.70.15
black==24.4.2
isort==5.13.2
pdf2image==1.17.0
pypdf==3.14.0
